---
title: 'Openness: a moodboard'
layout: 'default'
styles:
  - '/styles/basic.css'
  - '/styles/chapters.css'
---

section.chapter
  .in
    .unit6
      .content
        p "Openness" can mean many things in the english language: inviting, vast, empty, open-ended. For this study, I want to focus on openness in the sense of "vast", but also "open-ended".

section.chapter
  .in
    .unit6
      header.header
        h1.title Journey

  .in
    p.unit6 Journey is a long trek across an open desert to a mysterious mountain.

    p.unit12
      img(src="journey-game-screenshot-1.jpg", width=1280, height=720)
      img(src="journey-game-screenshot-3.jpg", width=1280, height=720)

    .unit6
      p
        | Along the way, you may encounter other players. Your journey together
        | is mostly in silence. Sometimes you communicate through chirps.
      p
        | By limiting the ways that players can communicate, Journey creates a
        | profound sense of companionship in this vast landscape.


    p.unit12
      img(src="journey-game-screenshot-4.jpg", width=1280, height=720)
      img(src="journey-game-screenshot-2.jpg", width=1280, height=720)

section.chapter
  .in
    .unit6
      .content
        blockquote.pullquote
          | Be conservative in what you do,
          | liberal in what you accept from others.

        p
          | The Robustness Principle (or Postel's Law), is one of the founding
          | principle of the internet. It's the reason everything hangs together
          | in the largest open system ever created.


section.chapter
  .in
    header.unit6.header
      h1.title Starseed Pilgrim

      p
        | Create a sonic garden within the void. Starseed Pilgrim is open &mdash;
        | both in its vastness and its open-endedness.

      p
        | Dropped into a strange empty world, you have nothing but sound and
        | color to guide you. Discovering the purpose of the game is the purpose
        | of the game.

      p
        | Sound design is an integral part of the game design. The delight of
        | creating aleatoric music through your actions makes the experience
        | mysterious and contemplative rather than frustrating.

    .content.unit12
      video(width=600, height=600, controls, poster="starseed-pilgrim.png")
        source(src="starseed-pilgrim.mp4", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
        source(src="starseed-pilgrim.webm", type='video/webm; codecs="vp8, vorbis"')

section.chapter
  .in
    header.unit4.header
      h1.title Minecraft

    p.unit12
      a(href="http://minecraftgallery.com/gallery/minecraft-beach-house-wallpaper/")
        img(src="minecraft-beach-house-wallpaper.jpg", width=1280, height=800)
      a(href="http://empireminecraft.com/threads/happy-valentines-day.21591/")
        img(src="6fylsex.jpg", width=1280, height=979)
      a(href="http://claw-of-the-dragon.deviantart.com/art/Enderdragon-329990024")
        img(src="enderdragon_by_claw_of_the_dragon-d5ggtxk.jpg", width=1280, height=800)

    .unit6
      p
        | Minecraft is the quintissential example of how constriants create an
        | explosion of creative collaboration.
      p
        | Minecraft's succcess lies in the principle of "limiting your API surface".
        | Everything is made of blocks (even the player). That's the API.
        | This constraint means everything is intercompatible, allowing players
        | to do amazing things with the system that were never anticipated.