html{background:#f1f1f1;color:#222;font:14px/24px Prociono,Georgia,sans-serif}
h1,h2,h3,h4,h5,h6{font-weight:normal;margin:0 0 12px}
p,ul,ol,table{margin-bottom:12px;margin-top:0}
a{color:#800080;text-decoration:underline}
img{height:auto;max-width:100%}
blockquote{color:#777;margin:0 0 12px}
img{vertical-align:middle}
.cf:before,.cf:after{content:" ";display:table}
.cf:after{clear:both}
.unit1,.unit2,.unit3,.unit4,.unit5,.unit6,.unit7,.unit8,.unit9,.unit10,.unit11,.unit12{margin-left:10px;margin-right:10px}
@media screen and (min-width: 680px){.unit1{float:left;margin-left:5px;margin-right:5px;width:43.333333333333336px}
.unit2{float:left;margin-left:5px;margin-right:5px;width:96.66666666666667px}
.unit3{float:left;margin-left:5px;margin-right:5px;width:150px}
.unit4{float:left;margin-left:5px;margin-right:5px;width:203.33333333333334px}
.unit5{float:left;margin-left:5px;margin-right:5px;width:256.6666666666667px}
.unit6{float:left;margin-left:5px;margin-right:5px;width:310px}
.unit7{float:left;margin-left:5px;margin-right:5px;width:363.33333333333337px}
.unit8{float:left;margin-left:5px;margin-right:5px;width:416.6666666666667px}
.unit9{float:left;margin-left:5px;margin-right:5px;width:470px}
.unit10{float:left;margin-left:5px;margin-right:5px;width:523.3333333333334px}
.unit11{float:left;margin-left:5px;margin-right:5px;width:576.6666666666667px}
.unit12{float:left;margin-left:5px;margin-right:5px;width:630px}
.in{margin-left:auto;margin-right:auto;position:relative;width:640px}
.in:before,.in:after{content:" ";display:table}
.in:after{clear:both}
}@media screen and (min-width: 840px){.unit1{float:left;margin-left:5px;margin-right:5px;width:56.666666666666664px}
.unit2{float:left;margin-left:5px;margin-right:5px;width:123.33333333333333px}
.unit3{float:left;margin-left:5px;margin-right:5px;width:190px}
.unit4{float:left;margin-left:5px;margin-right:5px;width:256.66666666666663px}
.unit5{float:left;margin-left:5px;margin-right:5px;width:323.3333333333333px}
.unit6{float:left;margin-left:5px;margin-right:5px;width:390px}
.unit7{float:left;margin-left:5px;margin-right:5px;width:456.66666666666663px}
.unit8{float:left;margin-left:5px;margin-right:5px;width:523.3333333333333px}
.unit9{float:left;margin-left:5px;margin-right:5px;width:590px}
.unit10{float:left;margin-left:5px;margin-right:5px;width:656.6666666666666px}
.unit11{float:left;margin-left:5px;margin-right:5px;width:723.3333333333333px}
.unit12{float:left;margin-left:5px;margin-right:5px;width:790px}
.in{margin-left:auto;margin-right:auto;position:relative;width:800px}
.in:before,.in:after{content:" ";display:table}
.in:after{clear:both}
}@media screen and (min-width: 1000px){.unit1{float:left;margin-left:10px;margin-right:10px;width:60px}
.unit2{float:left;margin-left:10px;margin-right:10px;width:140px}
.unit3{float:left;margin-left:10px;margin-right:10px;width:220px}
.unit4{float:left;margin-left:10px;margin-right:10px;width:300px}
.unit5{float:left;margin-left:10px;margin-right:10px;width:380px}
.unit6{float:left;margin-left:10px;margin-right:10px;width:460px}
.unit7{float:left;margin-left:10px;margin-right:10px;width:540px}
.unit8{float:left;margin-left:10px;margin-right:10px;width:620px}
.unit9{float:left;margin-left:10px;margin-right:10px;width:700px}
.unit10{float:left;margin-left:10px;margin-right:10px;width:780px}
.unit11{float:left;margin-left:10px;margin-right:10px;width:860px}
.unit12{float:left;margin-left:10px;margin-right:10px;width:940px}
.in{margin-left:auto;margin-right:auto;position:relative;width:960px}
.in:before,.in:after{content:" ";display:table}
.in:after{clear:both}
}@media screen and (min-width: 1320px){.unit1{float:left;margin-left:10px;margin-right:10px;width:86.66666666666667px}
.unit2{float:left;margin-left:10px;margin-right:10px;width:193.33333333333334px}
.unit3{float:left;margin-left:10px;margin-right:10px;width:300px}
.unit4{float:left;margin-left:10px;margin-right:10px;width:406.6666666666667px}
.unit5{float:left;margin-left:10px;margin-right:10px;width:513.3333333333334px}
.unit6{float:left;margin-left:10px;margin-right:10px;width:620px}
.unit7{float:left;margin-left:10px;margin-right:10px;width:726.6666666666667px}
.unit8{float:left;margin-left:10px;margin-right:10px;width:833.3333333333334px}
.unit9{float:left;margin-left:10px;margin-right:10px;width:940px}
.unit10{float:left;margin-left:10px;margin-right:10px;width:1046.6666666666667px}
.unit11{float:left;margin-left:10px;margin-right:10px;width:1153.3333333333335px}
.unit12{float:left;margin-left:10px;margin-right:10px;width:1260px}
.in{margin-left:auto;margin-right:auto;position:relative;width:1280px}
.in:before,.in:after{content:" ";display:table}
.in:after{clear:both}
}